:root {
  /* #ffecda
#f8d2b0
#6c89d2
 */
  --maincolor: #db7e3b;
  --mainback: #f8d2b0;
  --loginback: #aa8265;
  --rose: #aa1945;
  --puce: #391306;
  --quartz: #f9ccd3;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: Montserrat, sans-serif;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  transition: 0.3s;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  cursor: pointer;
}
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
li {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}
body {
  margin: 0;
  height: 100%;
  background-color: var(--backColor);
  color: var(--offGrey);
  font: normal 75% Arial, Helvetica, sans-serif;
}

.navBar {
  color: black;
  background-color: var(--maincolor);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.navGroup {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.navSolo {
  display: flex;
}
.navSolo a {
  color: white;
}
.userNavLinks {
  font-size: 25px;
}
.compTitle {
  font-weight: bolder;
  font-size: 16px;
}
.mainBanner {
  /* background-image: url("./img/foodTable.jpg"); */
  color: var(--puce);
  background-color: var(--mainback);
  margin: 30px;
  height: 450px;
  display: flex;
  justify-content: space-evenly;
}
.mainBannerInfo {
  margin: 0 3%;
  width: 46%;
  font-size: 140%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mainBannerBtn {
  appearance: none;
  background-color: var(--maincolor);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 12px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.mainBannerBtn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.mainBannerBtn:hover {
  background-color: #dd6b28;
}
.mainBannerBtn:focus {
  box-shadow: #eb720e66 0 0 0 3px;
  outline: none;
}
.mainBannerBtn:active {
  background-color: #c2830d;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.mainImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainImgContainer img {
  width: auto;
  width: 75%;
  height: auto;
  height: 380px;
  object-fit: cover;
}
.firstSales {
  color: var(--puce);
  background-color: var(--mainback);
  margin: 0 30px 30px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.firstSalesLinks {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
.firstSalesLinks img {
  height: 140px;
  width: 140px;
}
.navContent {
  display: none;
  background-color: var(--maincolor);
  position: absolute;
  padding: 15px;
  top: 56px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navSolo {
  height: 100%;
  padding: 21px;
}
.navSolo:hover .navContent {
  transition: 2s;
  display: block;
}
.onHoverCus:hover {
  cursor: pointer;
}
.ourRange {
  margin: 30px;
}
.mealsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.loginContainer {
  background-image: url("../public/img/loginBack.jpg");
  margin: 30px auto;
  max-width: 800px;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
}
.loginRight {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userForm {
  background-color: var(--loginback);
  color: var(--puce);
  width: 240px;
  padding: 0 3%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.userForm input {
  text-align: center;
  color: var(--puce);
  padding: 3px;
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}
.userForm button {
  background-color: var(--puce);
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 2px;
}
.loginUnder {
  height: 40px;
  background-color: var(--loginback);
  font-size: 15px;
  color: var(--puce);
  text-align: center;
  width: calc(240px + 6%);
  padding-bottom: 3px;
}
.userForm input::placeholder {
  color: #d1d1d4;
}
#signForm {
  height: 340px;
}
.loginUnder a {
}
.day {
  width: 90%;
  margin: 20px auto;
}
.dayHeader {
  border-bottom: 1px solid #282c34;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.dayInfo {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.dayMeals {
  display: flex;
  justify-content: space-between;
}
.planMeal {
  height: 300px;
  width: 150px;
  margin: 10px 5px;
  -webkit-box-shadow: 1px 0px 15px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 0px 15px 6px rgba(0, 0, 0, 0.4);
}
.planMealTop {
  height: 150px;
}
.planMealTop img {
  height: 150px;
  width: 150px;
}
.planMealBot {
  height: 150px;
}
.planMealBotHeader {
  margin: 3px 3px 40px;
}
.planMealPrice {
  margin: 8px;
  font-size: 14px;
}
.planMealStats {
  margin: 0 8px;
  display: flex;
  justify-content: space-between;
}

.aboutDiv {
  background-color: var(--mainback);
  margin: 30px;
  padding: 30px;
  display: flex;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
}
.aboutDiv img {
  width: 50%;
  object-fit: cover;
}
.aboutText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  font-size: 16px;
  line-height: 1.4;
}
.aboutContact {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}
#contactForm {
  position: fixed;
  top: 20px;
  left: 20px;
  min-width: 20%;
  max-width: 30%;
  height: 60%;
  color: var(--puce);
  background-color: var(--quartz);
  overflow: auto;
  padding: 20px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#contactForm h3 {
  text-align: center;
}
#aboutClose {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#contactForm textarea {
  resize: none;
  height: 50%;
}
.aboutInput {
  border: 1px solid black;
  background-color: #dbd8d8;
  padding: 5px;
}
.aboutInput:focus {
  background-color: #ffffff;
  border: 1px solid black;
}
