.cart {
  position: fixed;
  top: 56px;
  right: 0;
  min-width: 20%;
  max-width: 30%;
  max-height: 60%;
  background-color: white;
  overflow: auto;
  padding: 0.5rem;
  box-shadow: 0 0 16px 2px #00000080;
  border-bottom-left-radius: 0.5rem;
}

.cart h2 {
  font-size: 24px;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
  margin: 16px 0;
}

.cart .close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 0.5rem 1rem 0;
}

@media screen and (max-width: 768px) {
  .cart {
    top: 0;
    position: relative;
    display: block;
    max-width: 100%;
    max-height: auto;
    background-color: inherit;
  }
}
