:root {
  /* #ffecda
  #f8d2b0
  #6c89d2
   */
  --maincolor: #db7e3b;
  --mainback: #f8d2b0;
  --loginback: #aa8265;
  --rose: #aa1945;
  --puce: #391306;
  --quartz: #f9ccd3;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: Montserrat, sans-serif;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  transition: 0.3s ease-in-out;
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
li {
  list-style: none;
}
a {
  cursor: pointer;
  text-decoration: none;
}
body {
  margin: 0;
  height: 100%;
  background-color: var(--backColor);
  color: var(--offGrey);
  font: normal 75% Arial, Helvetica, sans-serif;
}

.navBar {
  color: black;
  background-color: var(--maincolor);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 56px;
}
.navGroup {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.navSolo {
  display: flex;
}
.navSolo a {
  color: white;
}
.userNavLinks {
  font-size: 25px;
}
.compTitle {
  font-weight: bolder;
  font-size: 16px;
}
.mainBanner {
  color: var(--puce);
  background-color: var(--mainback);
  margin: 30px;
  height: 450px;
  display: flex;
  justify-content: space-evenly;
}
.mainBannerInfo {
  margin: 0 3%;
  width: 46%;
  font-size: 140%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.flex-row {
  display: flex;
}
.mainBannerBtn {
  appearance: none;
  background-color: var(--maincolor);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 12px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.mainBannerBtn:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.mainBannerBtn:hover {
  background-color: #dd6b28;
}
.mainBannerBtn:focus {
  box-shadow: #eb720e66 0 0 0 3px;
  outline: none;
}
.mainBannerBtn:active {
  background-color: #c2830d;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.mainImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainImgContainer img {
  width: auto;
  width: 75%;
  height: auto;
  height: 380px;
  object-fit: cover;
}
.firstSales {
  color: var(--puce);
  background-color: var(--mainback);
  margin: 0 30px 30px;
  min-height: 300px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 13px;
}
.firstSalesLinks {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.firstSalesLinks img {
  height: 140px;
  width: 140px;
  margin: 3px;
  object-fit: cover;
}
.navContent {
  display: none;
  background-color: var(--maincolor);
  position: absolute;
  padding: 15px;
  top: 56px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.navSolo {
  height: 100%;
  padding: 21px;
}
.navSolo:hover .navContent {
  transition: 2s;
  display: block;
}
.onHoverCus,
.onHoverCus *:hover {
  cursor: pointer;
}
.showFilterBtn {
  cursor: pointer;
  background-color: var(--mainback);
  height: 50px;
  width: 50px;
  color: #000;
  font-size: 30px;
  border-radius: 0 0 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showFilterBtn:hover {
  background-color: var(--maincolor);
  color: white;
}

.videoSales {
  flex-direction: row;
}
.myVideo {
  width: 100%;
  max-width: 500px;
  border: 1px solid black;
}

.preVid {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  font-size: 16px;
}
.preVid,
.videoHalf {
  width: 50%;
  padding: 15px;
}
.ourRangeOuter {
  height: 100%;
  width: 100%;
  display: flex;
}
.ourRange {
  height: 100%;
  width: 100%;
}
.ourRangeAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 30%;
}
.ourRangeAddBtn {
  padding: 2px 3px;
}
.mealsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
}
/* aside {
  height: 80%;
  width: 30%;
} */
.loginContainer {
  background-image: url("/img/loginBack.jpg");
  margin: 30px auto;
  max-width: 800px;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
}
.loginRight {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.userForm {
  background-color: var(--loginback);
  color: var(--puce);
  width: 240px;
  padding: 0 3%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.userForm input {
  text-align: center;
  color: var(--puce);
  padding: 3px;
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}
.userForm button {
  background-color: var(--puce);
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 2px;
}
.loginUnder {
  height: 40px;
  background-color: var(--loginback);
  font-size: 15px;
  color: var(--puce);
  text-align: center;
  width: calc(240px + 6%);
  padding-bottom: 3px;
}
.loginUnder a {
  color: #d1d1d4;
}
.loginUnder a:hover {
  color: #aa1945;
}
.userForm input::placeholder {
  color: #d1d1d4;
}
#signForm {
  height: 340px;
}
.loginUnder a {
}
.day {
  width: 90%;
  margin: 20px auto;
}
.dayHeader {
  border-bottom: 1px solid #282c34;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.dayInfo {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.dayMeals {
  display: flex;
  justify-content: space-between;
}
.planMeal {
  height: 300px;
  width: 150px;
  margin: 10px 5px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 1px 0px 15px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 0px 15px 6px rgba(0, 0, 0, 0.4);
}

.mealPlanShowBtn:hover {
  cursor: pointer;
}
.planMealTop,
.planMealTop img,
.planMealBot {
  height: 150px;
  width: 150px;
}
.planMealTop img {
  object-fit: cover;
}
.planMealBotHeader {
  margin: 3px;
  height: 40px;
}
.planMealPrice {
  margin: 8px;
  font-size: 14px;
}
.planMealStats {
  margin: 0 8px;
  display: flex;
  justify-content: space-between;
}
.addMealTop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addMealTop h3 {
  margin: 10px;
  text-align: center;
}
.planMealBotChoose {
  background-color: rgb(212, 212, 212);
}
.aboutDiv {
  background-color: var(--mainback);
  margin: 30px;
  padding: 30px;
  display: flex;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
}
.aboutDiv img {
  width: 50%;
  object-fit: cover;
}
.aboutText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  font-size: 16px;
  line-height: 1.4;
}
.aboutContact {
  width: 100%;
  margin: 10px auto;
  text-align: center;
  color: var(--maincolor);
}
.aboutContact:hover {
  cursor: pointer;
  color: var(--rose);
}
#contactForm {
  position: fixed;
  top: 20px;
  left: 20px;
  min-width: 20%;
  max-width: 30%;
  height: 60%;
  color: var(--puce);
  background-color: var(--mainback);
  overflow: auto;
  padding: 20px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#contactForm h3 {
  text-align: center;
}
#aboutClose {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#contactForm textarea {
  resize: none;
  height: 50%;
}
.aboutInput {
  border: 1px solid black;
  background-color: #dbd8d8;
  padding: 5px;
}
.aboutInput:focus {
  background-color: #ffffff;
  border: 1px solid black;
}
.addMealBtn {
  cursor: pointer;
}
.ourRangeHeader {
  text-align: center;
  padding: 15px;
  background-color: var(--mainback);
}
.totalPlan {
  background-color: var(--maincolor);
  display: flex;
  height: 40px;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
}
.AddAllBtn {
  border-radius: none;
  border: none;
  height: 40px;
  line-height: 2px;
}
.planIcon {
  position: relative;
  top: 30px;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.planIconBtn {
  cursor: pointer;
  font-size: 18px;
}
.dashHeader {
  width: 100%;
  background-color: var(--mainback);
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoutBtn {
  position: absolute;
  right: 0;
  border-radius: 0 0 0 6px;
}
.mealEnhance {
  margin: 30px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.mealEnhanceInner {
  padding: 6px 3px 3px;
}
.enhanceClose {
  font-size: 25px;
  cursor: pointer;
}
.enhanceMain {
  display: flex;
  width: 100%;
}
.enhanceHead {
  display: flex;
  justify-content: space-between;
}
.enhanceImgCont {
  width: 70%;
}
.enhanceImgCont img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.enhanceDes {
  width: 30%;
  font-size: 16px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.enhanceBtn {
  display: flex;
  justify-content: end;
}
select {
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  width: 200px;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 150ms ease;
}

option {
  color: #223254;
}

option:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: 0 0 0 2px rgba(#0077ff, 0.2);
}

option:hover {
  stroke: #0077ff;
}

@media screen and (max-width: 900px) {
  .dayMeals {
    overflow: auto;
  }
}

@media screen and (max-width: 768px) {
  .cart {
    top: 0;
    position: relative;
    display: block;
    max-width: 100%;
    max-height: auto;
    background-color: inherit;
  }
}
@media screen and (max-width: 500px) {
  .planMeal {
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: row;
  }
  .navBar {
    justify-content: space-between;
    padding: 0 5px;
  }
  .hamburger {
    font-size: 30px;
    cursor: pointer;
  }
  .navGroup {
    position: absolute;
    top: 56px;
    left: 0;
    background-color: #aa1945;
    flex-direction: column;
    max-width: 50%;
    padding: 0;
  }
  .videoSales {
    flex-direction: column;
    height: 600px;
  }
  .videoHalf {
    height: 50%;
    width: 100%;
  }
  .dayMeals {
    flex-wrap: wrap;
    justify-content: center;
  }
}
